aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
dateparser
deprecation
distro
dnspython
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
frozenlist
greenlet
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
hyperframe
idna
Jinja2
jiter
jsonpatch
jsonpointer
langchain>=0.1,<0.2
langchain-community>=0.0.21,<0.1
langchain-core>=0.1,<0.2
langchain-openai>=0.1,<0.2
langchain-text-splitters>=0.0.1,<0.1
langgraph>=0.0.30,<0.1
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy_extensions
numpy
openai
orjson
ormsgpack
packaging
postgrest
propcache
psycopg2-binary
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
realtime
regex
requests
requests-toolbelt
rich
rich-toolkit
rignore
sentry-sdk
shellingham
six
sniffio
SQLAlchemy
starlette
storage3
StrEnum
supabase
supabase-auth
supabase-functions
tenacity
tiktoken
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
tzlocal
urllib3
uvicorn
watchfiles
websockets
xxhash
yarl
zstandard